.body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
  border: 1px  rgb(187, 182, 182);
  border-style: dashed;
  height: 100vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex-color{
  font-weight: 100;
  font-style: oblique ;
  text-align: center;
  /*border: 1px solid black;*/
  padding: 20px;
}

.hex-color h1{
  font-size: 2rem;
  animation: changecolor 5s infinite alternate;
  text-transform: uppercase;
}

.hex-color h2{
  padding: 10px;
  font-size: 1rem;
}

@keyframes changecolor{
  0%{
    color: rgb(255, 255, 255);
  }
  20%{
    color: rgb(118, 64, 145);
  }
  40%{
    color: rgb(255, 0, 0);
  }
  60%{
    color: rgb(222, 12, 190);
  }
  80%{
    color: rgb(28, 178, 36);
  }
  100%{
    color: rgb(3, 7, 10);
  }
}

@media(max-width:480px){
  .hex-color h1{
    font-size: 1.5rem;
  }
  .hex-color h2{
    font-size: 0.5rem;
  }
}